<!DOCTYPE html>
<html ng-app="mis">
<head>
	<title></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
	<script type="text/javascript" src="libs/angular.min.js"></script>
	<script type="text/javascript" src="libs/script.js"></script>
	<script type="text/javascript" src="js/portal/portal.js"></script>
</head>
<body ng-controller="Portal">
	<div class="col-md-4">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">User Profile</h3>
				</div>
				<div class="panel-body">
					<form role="form">
						<div class="form-group">
							<label for="nameInput">Username</label>
							<input type="text" class="form-control" id="nameInput" ng-model="user.name"
							       placeholder="Enter user name">
						</div>
						<div class="form-group">
							<label for="pwdInput">Password</label>
							<input type="password" class="form-control" id="pwdInput" ng-model="user.password"
							       placeholder="Password">
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="col-md-12" ng-include="'partial/profile.html'"></div>
		<div class="col-md-12" partial-loader url="partial/goods.html" scripts="js/order/goods.js"></div>
		<div class="col-md-12" partial-loader url="partial/cart.html" scripts="js/order/cart.js"></div>
	</div>
	<div class="row col-md-8">
		<div class="row col-md-12">
			<div class="col-md-3" html-loader url="partial/simple.html"></div>
			<div class="col-md-3" html-loader url="partial/inlinelogic.html"></div>
			<div class="col-md-3" app-loader url="partial/clock.html" module="widgets" scripts="js/widgets/clock.js"></div>
			<div class="col-md-3" app-loader url="partial/todo.html" module="widgets" scripts="js/widgets/todo.js"></div>
		</div>
		<div class="col-md-12">
			<div class="panel panel-default" ng-controller="ModuleCtrl">
				<div class="panel-heading">
					<h3 class="panel-title">Dynamic Load</h3>
				</div>
				<div class="panel-body">
					<ul class="nav nav-tabs">
						<li ng-repeat="m in modules" ng-class="{active:m.selected}" ng-click="switchModule($index)">
							<a href="#">{{m.title}}<button class="close" type="button" ng-show="m.selected" ng-click="closeModule($index)">×</button></a>
						</li>
						<li>
							<a href="#"><button class="close" type="button" ng-click="addModule()">+</button></a>
						</li>
					</ul>
					<div ng-repeat="m in modules" ng-include src="m.url" ng-show="m.selected"></div>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div partial-loader url="partial/wizard.html" scripts=""></div>
		</div>
	</div>
</body>
</html>