<div class="panel panel-default" ng-controller="Cart">
	<div class="panel-heading">
		<h3 class="panel-title">Shopping Cart</h3>
	</div>
	<div class="panel-body">
		<table class="table table-hover table-bordered">
			<thead>
				<tr>
					<th>Type</th>
					<th>Number</th>
					<th>Price</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="good in goodsList">
					<td ng-bind="good.type"></td>
					<td ng-bind="good.number"></td>
					<td ng-bind="good.price"></td>
				</tr>
			</tbody>
			<tfoot>
				<div>
					Hello, <span ng-bind="user.name"></span>, total price is <span ng-bind="price"></span>.
				</div>
			</tfoot>
		</table>
	</div>
</div>
